html
  head
    link(rel='stylesheet' href='css/gates.css')
    script(src='scripts/vendor/requirejs/require.js')
    script(src='scripts/require.config.js')
    script.
      require(['scripts/gates.js'])
  body
    button#create-one-source Create 1 source
